@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* .primary-button {
  @apply w-full h-full inline-block text-center text-gray-100 bg-black/70 border border-gray-700 focus:outline-none hover:bg-gray-300 hover:text-black/90 focus:ring-1 focus:ring-gray-900 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-900 dark:hover:bg-gray-300 dark:hover:border-gray-300 dark:focus:ring-gray-300 transition-all duration-200 cursor-pointer;
} */

.primary-button {
  @apply text-center inline-block w-full h-full font-medium text-sm bg-black/90 text-white/90 rounded-lg p-2 hover:bg-black/80 hover:text-white dark:bg-white/80 dark:text-black/80 dark:hover:bg-white/90 dark:hover:text-black/90 duration-200 transition-all 
        focus:outline-none focus:border-2 cursor-pointer;
}

.secondary-button {
  @apply text-center inline-block w-full h-full font-medium text-sm bg-gray-200 text-black/90 rounded-lg p-2 hover:bg-gray-100 
  dark:bg-gray-800 dark:text-white/80 dark:hover:bg-gray-900 dark:hover:text-white/90 transform transition-all duration-200 focus:outline-none focus:border-2 cursor-pointer;
}

.list-button {
  @apply flex items-center gap-4 w-full h-full hover:bg-gray-200 hover:text-black rounded-lg p-2 cursor-pointer bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white duration-200 transition-all;
}

.popUp {
  animation: popUp 1s forwards ease-in-out;
  -webkit-animation: popUp 1s forwards ease-in-out;
}
@keyframes popUp {
  0% {
    transform: translateY("20px");
    -webkit-transform: translateY("20px");
    -moz-transform: translateY("20px");
    -ms-transform: translateY("20px");
    -o-transform: translateY("20px");
  }
  100% {
    transform: translateY("0px");
    -webkit-transform: translateY("0px");
    -moz-transform: translateY("0px");
    -ms-transform: translateY("0px");
    -o-transform: translateY("0px");
  }
}
