@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

.primary-button {
  @apply text-center inline-block w-full h-full font-medium  bg-black/90 text-white/90 rounded-lg p-2 hover:bg-black/80 hover:text-white dark:bg-white/80 dark:text-black/80 dark:hover:bg-white/90 dark:hover:text-black/90 transition-all 
        focus:outline-none focus:border-2 cursor-pointer;
}

.secondary-button {
  @apply text-center inline-block w-full h-full font-medium bg-gray-200 text-black/90 rounded-lg p-2 hover:bg-gray-100 
  dark:bg-gray-800 dark:text-white/80 dark:hover:bg-gray-900 dark:hover:text-white/90 transform transition-all  focus:outline-none focus:border-2 cursor-pointer;
}

.list-button {
  @apply flex items-center gap-4 w-full h-full hover:bg-gray-200 hover:text-black rounded-lg p-2 cursor-pointer bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white duration-200 transition-all;
}

.custom-border {
  @apply border border-black/20 dark:border-white/20;
}

.button-active {
  @apply border rounded-md p-2 border-black/20 shadow-sm flex items-center gap-4 cursor-pointer bg-black text-white hover:bg-black/90 hover:border-white dark:border-white/50 dark:bg-white dark:text-black dark:hover:bg-white/90 dark:hover:border-black;
}

.button-inactive {
  @apply border rounded-md p-2 border-black/20 shadow-sm flex items-center gap-4 cursor-pointer hover:border-black dark:border-white/50 dark:hover:border-white;
}

.overview-card {
  @apply border border-black/20 space-y-4 p-4 rounded-lg shadow-md dark:border-white/20 overflow-hidden;
}

.text-bg-colours {
  @apply bg-gray-50 dark:bg-black/95 dark:text-white/80 text-black/70;
}

.text-input {
  @apply p-2 w-full border-black/20 border rounded-md focus:border-black/50 focus:ring-black/50 dark:border-white/20  dark:focus:border-white/20 dark:focus:ring-white/20;
}

.popUp {
  animation: popUp 1s forwards ease-in-out;
  -webkit-animation: popUp 1s forwards ease-in-out;
}

.fadeIn {
  animation: fadeInFromButton 0.5s forwards ease-in-out;
  -webkit-animation: fadeInFromButton 0.5s forwards ease-in-out;
}

@keyframes fadeInFromButton {
  0% {
    transform: translateY("30px");
    -webkit-transform: translateY("30px");
    -moz-transform: translateY("30px");
    -ms-transform: translateY("30px");
    -o-transform: translateY("30px");
  }
  100% {
    transform: translateY("0px");
    -webkit-transform: translateY("30px");
    -moz-transform: translateY("30px");
    -ms-transform: translateY("30px");
    -o-transform: translateY("30px");
  }
}

/* Define a transition duration during page visits */
html.is-changing .transition-fade {
  transition: opacity 0.25s;
  opacity: 1;
}

/* Define the styles for the unloaded pages */
html.is-animating .transition-fade {
  opacity: 0;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes popUp {
  0% {
    transform: translateY("20px");
    -webkit-transform: translateY("20px");
    -moz-transform: translateY("20px");
    -ms-transform: translateY("20px");
    -o-transform: translateY("20px");
  }
  100% {
    transform: translateY("0px");
    -webkit-transform: translateY("0px");
    -moz-transform: translateY("0px");
    -ms-transform: translateY("0px");
    -o-transform: translateY("0px");
  }
}
